#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
    tapping-term-ms = <400>;
};

&trackball {
    // automouse-layer = <3>;

    scroll-layers = <4>;

    // arrows {
    //     layers = <3>;
    //     bizip_temp_layerndings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <12 13>;
            timeout-ms = <70>;
        };

        shift_space {
            bindings = <&kp LS(SPACE)>;
            key-positions = <18 19>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <30 31>;
            timeout-ms = <70>;
        };

        z {
            bindings = <&kp Z>;
            key-positions = <22 23>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <19 20>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <31 32>;
        };

        parenthesis {
            bindings = <&parenthesis>;
            key-positions = <1 2>;
        };

        bracket {
            bindings = <&bracket>;
            key-positions = <2 3>;
        };

        brace {
            bindings = <&brace>;
            key-positions = <4 3>;
        };

        single_quote {
            bindings = <&single_quote>;
            key-positions = <23 24>;
        };

        double_quote {
            bindings = <&double_quotes>;
            key-positions = <24 25>;
        };

        appostrophe {
            bindings = <&apostrophe>;
            key-positions = <26 25>;
        };

        esc2 {
            bindings = <&kp ESCAPE>;
            key-positions = <11 12>;
            layers = <0 2 3 4>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <13 14>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <11 12>;
            layers = <1>;
        };

        pausebreak {
            bindings = <&kp PAUSE_BREAK>;
            key-positions = <8 9>;
        };

        clearBT {
            bindings = <&bt BT_CLR>;
            key-positions = <0 1>;
            layers = <4>;
        };

        clearBTall {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <3 4>;
            layers = <4>;
        };
    };

    behaviors {
        hold_tap_balance: hold_tap_balance {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_BALANCE";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <150>;
        };

        layer_normalkey: layer_normalkey {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_NORMALKEY";
            bindings = <&sl>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            quick-tap-ms = <180>;
        };

        layer_ctrl: layer_ctrl {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_CTRL";
            bindings = <&sl>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            quick-tap-ms = <200>;
        };
    };

    macros {
        parenthesis: parenthesis {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp RPAR>;
            label = "PARENTHESIS";
        };

        bracket: bracket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET>;
            label = "BRACKET";
        };

        brace: brace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBRC &kp RBRC>;
            label = "BRACE";
        };

        single_quote: single_quote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp SQT &kp LEFT_ARROW>;
            label = "SINGLE_QUOTE";
        };

        double_quotes: double_quotes {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DQT &kp DQT &kp LEFT_ARROW>;
            label = "DOUBLE_QUOTES";
        };

        apostrophe: apostrophe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp GRAVE &kp LEFT_ARROW>;
            label = "APOSTROPHE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                           &kp W         &kp E         &kp R      &kp T                                                                                &kp Y      &kp U  &kp I      &kp O    &kp P
&kp A                           &kp S         &kp D         &kp F      &kp G                &sl 4                             &sl 3                         &kp H      &kp J  &kp K      &kp L    &kp ENTER
&hold_tap_balance LEFT_SHIFT Z  &kp X         &kp C         &kp V      &kp B                &kp LCTRL                         &kp LCTRL                     &kp N      &kp M  &kp COMMA  &kp DOT  &kp RIGHT_SHIFT
&kp LCTRL                       &kp LEFT_WIN  &kp LEFT_ALT  &kp SPACE  &layer_ctrl 1 LCTRL  &layer_normalkey 2 BACKSPACE      &layer_normalkey 2 BACKSPACE  &kp ENTER                             &sl 3
            >;
        };

        symbol {
            bindings = <
&kp NUMBER_1    &kp NUMBER_2      &kp NUMBER_3       &kp NUMBER_4  &kp NUMBER_5                       &kp NUMBER_6    &kp NUMBER_7    &kp NUMBER_8  &kp NUMBER_9     &kp NUMBER_0
&kp COMMA       &kp DOT           &kp SLASH          &kp GRAVE     &kp SEMI       &trans      &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&kp LEFT_SHIFT  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SQT       &kp BACKSLASH  &trans      &trans  &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END          &trans
&trans          &trans            &trans             &trans        &trans         &trans      &trans  &trans                                                         &trans
            >;
        };

        fn_and_num {
            bindings = <
&kp F1  &kp F2          &kp F3        &kp F4          &kp F5                               &kp F6          &kp F7          &kp F8        &kp F9           &kp F10
&trans  &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans      &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp F11
&trans  &kp HOME        &kp PAGE_UP   &kp PAGE_DOWN   &kp END          &trans      &trans  &kp HOME        &kp PAGE_DOWN   &kp PAGE_UP   &kp END          &kp F12
&trans  &trans          &trans        &trans          &trans           &trans      &trans  &trans                                                         &trans
            >;
        };

        mouse {
            bindings = <
&kp MINUS  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp SLASH                       &trans  &trans     &trans     &kp K_MUTE  &kp C_VOLUME_UP
&kp PLUS   &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp ASTRK   &trans      &trans  &trans  &trans     &trans     &trans      &kp C_VOLUME_DOWN
&kp COLON  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD  &trans      &trans  &sl 4   &mkp LCLK  &mkp RCLK  &mkp MCLK   &sl 4
&trans     &kp NUMBER_0  &kp PERIOD    &trans        &trans      &trans      &trans  &trans                                    &trans
            >;
        };

        bluetooth {
            bindings = <
&trans  &trans        &trans        &trans        &trans                      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans  &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &trans  &trans        &trans        &trans        &trans        &trans
&trans  &trans        &trans        &trans        &trans  &trans      &trans  &trans                                                  &trans
            >;
        };
    };
};
